In [1]:
import boto3
#AWS credentials
aws_access_key_id = 'AKIAZZ33YB65GZIN656A'
aws_secret_access_key = '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'

In [2]:
#Create S3 client
s3 = boto3.client('s3', aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key)

bucket_name = 'mindex-data-analytics-code-challenge'
files_to_download = [
    'bengals.csv',
    'boyd_receiving.csv',
    'chase_receiving.csv',
    'higgins_receiving.csv'
]

In [3]:
#Download and save the files:
for file_name in files_to_download:
    try:
        s3.download_file(bucket_name, file_name, file_name)
        print(f"Downloaded {file_name}")
    except Exception as e:
        print(f"Error downloading {file_name}: {e}")

Downloaded bengals.csv
Downloaded boyd_receiving.csv
Downloaded chase_receiving.csv
Downloaded higgins_receiving.csv

In [4]:
import pandas as pd

#List to store DataFrames
dataframes = []

#Loads each CSV into a DataFrame
for file_name in files_to_download:
    try:
        #Load the CSV into a DataFrame
        df = pd.read_csv(file_name)
        
        #Append the DataFrame to the list
        dataframes.append(df)
        
        print(f"Loaded {file_name} into DataFrame")
    except Exception as e:
        print(f"Error loading {file_name}: {e}")

Loaded bengals.csv into DataFrame
Loaded boyd_receiving.csv into DataFrame
Loaded chase_receiving.csv into DataFrame
Loaded higgins_receiving.csv into DataFrame

In [5]:
import pandas as pd

#Rename the columns in dataframes[1], dataframes[2], and dataframes[3] to avoid conflicts during merge
dataframes[1].rename(columns={'Yards': 'Boyd_Yards', 'TD': 'Boyd_TD'}, inplace=True)
dataframes[2].rename(columns={'Yards': 'Chase_Yards', 'TD': 'Chase_TD'}, inplace=True)
dataframes[3].rename(columns={'Yards': 'Higgins_Yards', 'TD': 'Higgins_TD'}, inplace=True)

#Merge dataframes[0] (game results) with the other DataFrames using 'Week' as the key
merged_df = dataframes[0].merge(dataframes[1], on='Week', how='inner')
merged_df = merged_df.merge(dataframes[2], on='Week', how='inner')
merged_df = merged_df.merge(dataframes[3], on='Week', how='inner')

In [6]:
#Replace '1.0' with 'Win' and '0.0' with 'Loss' in the 'Result' column
merged_df['Result'] = merged_df['Result'].replace({1.0: 'Win', 0.0: 'Loss'})

In [7]:
merged_df

,Week,Opponent,Location,Result,Boyd_Yards,Boyd_TD,Chase_Yards,Chase_TD,Higgins_Yards,Higgins_TD
0,REG1,MIN,Home,Win,32,0,101,1,58,1
1,REG2,CHI,Away,Loss,73,0,54,1,60,1
2,REG5,GB,Home,Loss,24,0,159,1,32,0
3,REG6,DET,Away,Win,7,0,97,0,44,0
4,REG7,BAL,Away,Win,39,0,201,1,62,0
5,REG8,NYJ,Away,Loss,69,1,32,1,97,0
6,REG9,CLE,Home,Loss,11,0,49,0,78,0
7,REG11,LV,Away,Win,49,0,32,1,15,0
8,REG12,PIT,Home,Win,13,0,39,0,114,1
9,REG13,LAC,Home,Loss,85,0,52,0,138,1
10,REG14,SF,Home,Loss,55,0,77,2,114,0
11,REG15,DEN,Away,Win,96,1,3,0,23,0
12,REG16,BAL,Home,Win,85,1,125,0,194,2
13,REG17,KC,Home,Win,36,1,266,3,62,0
14,POST1,LV,Home,Win,26,1,116,0,10,0
15,POST2,TEN,Away,Win,17,0,109,0,96,0
16,POST3,KC,Away,Win,19,0,54,1,103,0
17,POST4,LAR,Neutral,Loss,48,0,89,0,100,2

In [9]:
from sqlalchemy import create_engine

# Define the database connection URL
# Replace the placeholders with your credentials
db_host = 'ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com'
db_username = 'michael_whalen'  # Your username
db_password = 'wichaelmhalen'  # Your password
db_name = 'postgres'

# Create the SQLAlchemy engine
engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}/{db_name}')

# Write the DataFrame to the PostgreSQL database table
table_name = 'michael_whalen'  # Your table name
merged_df.to_sql(table_name, engine, if_exists='replace', index=False)

# Close the database connection
engine.dispose()